body {
  background-color: #fff;
  font-size: 16px;
  line-height: 1.6;
  display: flex;
  flex-flow: column;
  min-height: 100vh; }

main {
  flex: 1; }

nav {
  font-family: 'Source Sans Pro', sans-serif; }
  nav li a {
    color: #111; }
  nav #menu .active a {
    background-color: #fff;
    color: #454174; }

#nav {
  border-top: 10px solid #454174; }

.home-box {
  height: 100%; }
  .home-box .title {
    width: 100%;
    margin: 5em auto 1em auto;
    padding: 1em auto; }
    .home-box .title h1 {
      font-family: 'Open Sans', sans-serif;
      font-weight: 100;
      text-transform: uppercase;
      font-size: 140px; }
    .home-box .title h3 {
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
      text-transform: lowercase;
      font-size: 32px;
      margin-bottom: 1.5em;
      margin-left: 0.3em; }

.resume-box .title {
  width: 100%;
  margin: 5em auto 1em auto;
  padding: 1em auto; }
  .resume-box .title h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 140px; }
  .resume-box .title h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-transform: lowercase;
    font-size: 32px;
    margin-bottom: 1.5em;
    margin-left: 0.3em; }

.resume-box #resume-button {
  margin-top: 3em;
  margin-bottom: 3em;
  background-color: #C1D1EA;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eee), to(#C1D1EA));
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.85);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  font-size: 1em; }
  .resume-box #resume-button a {
    color: #111;
    text-decoration: none; }
  .resume-box #resume-button:hover, .resume-box #resume-button:focus {
    -webkit-animation: pulse 1.5s infinite ease-in-out; }

footer {
  background-color: #C1D1EA;
  margin: 0;
  margin-top: 1em;
  padding: 1em;
  border-top: 5px solid #454174; }
  footer p {
    padding-left: 2em; }
    footer p a {
      color: #0F2859; }
      footer p a:hover {
        color: #5EA4BF; }

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 12px rgba(51, 204, 255, 0.1); }
  50% {
    -webkit-box-shadow: 0 0 12px rgba(51, 204, 255, 0.99); }
  100% {
    -webkit-box-shadow: 0 0 12px rgba(51, 204, 255, 0.1); } }
