body {

}

nav {
	font-family: 'Source Sans Pro', sans-serif;
	border-top: 10px solid blue;

	.myName {
		font-weight: 500;
		font-size: 2em;
		// margin: 0.5em auto;
	}
}

.home-box {
	height: 100%;

	.jumbotron {
		width: 100%;
		padding: 1em auto;
		object-fit: scale-down;
		// background-image: url(../images/resume2-jumbo.jpg);
		// background-size: cover;
		position: relative;
		overflow: hidden;
		background: url('../images/resume2-jumbo.jpg');
		background-size: cover;
	}
}
