body {

}

nav {
	font-family: 'Source Sans Pro', sans-serif;
	border-top: 10px solid blue;

	.myName {
		font-weight: 500;
		font-size: 2em;
	}
}

.home-box {
	height: 100%;

	.jumbotron {
		width: 100%;
		padding: 1em auto;
		background: url('../images/resume2-jumbo.jpg');
		background-size: cover;
	}
}
