body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #fff;
  font-size: 1.8em;
  line-height: 1.6;
  display: flex;
  flex-flow: column;
  min-height: 100vh; }

main {
  flex: 1; }

nav #menu .active a {
  background-color: #fff;
  color: #454174;
  border-bottom: 1px solid #CCC4EA; }

#nav {
  border-top: 20px solid #454174;
  background-color: #fff;
  border-bottom: none; }
  #nav li a {
    color: #222; }
    #nav li a:hover {
      border-bottom: 1px solid #454174; }
  #nav.navbar-inverse .navbar-toggle {
    border-color: #808080; }
  #nav.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #808080; }

.home-box {
  height: 100%; }

.title {
  width: 100%;
  margin-top: 5em;
  margin-bottom: 2em;
  padding: 1em auto;
  border-bottom: 10px solid gray; }
  .title h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 140px; }
  .title h3 {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    text-transform: lowercase;
    font-size: 32px;
    margin-bottom: 1.5em;
    margin-left: 0.3em; }

.about-box {
  width: 100%;
  margin-bottom: 2em;
  padding: auto 1.5em;
  padding-bottom: 2em;
  border-bottom: 10px solid gray; }
  .about-box h3 {
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
    line-height: 2; }

.work-box {
  padding-top: 2em;
  width: 100%; }
  .work-box .well .title-h3 {
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase; }

.resume-box .body-text {
  padding-left: 1.5em; }

.resume-box .well {
  background-color: #D4D8EF; }
  .resume-box .well:hover, .resume-box .well:focus {
    background-color: #CCC4EA;
    padding-left: 0.9em;
    border: 1px solid #bbb; }

.resume-box .indent {
  padding-left: 1em; }

.resume-box .row h3 {
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase; }

.resume-box #resume-button {
  margin-top: 3em;
  margin-bottom: 3em;
  background-color: #C1D1EA;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eee), to(#CCC4EA));
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.85);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  font-size: 1em; }
  .resume-box #resume-button a {
    color: #111;
    text-decoration: none; }
  .resume-box #resume-button:hover, .resume-box #resume-button:focus {
    -webkit-animation: pulse 1.5s infinite ease-in-out; }

footer {
  background-color: #CCC4EA;
  margin: 0;
  margin-top: 1em;
  padding: 2em 1em;
  padding-left: 2em;
  border-top: 5px solid #454174; }
  footer #twitter {
    width: 3%;
    height: 3%;
    margin-right: 1.5em; }
  footer #linkedin {
    width: 3%;
    height: 3%;
    margin-right: 1.5em; }
  footer span {
    vertical-align: 0; }
    footer span a {
      color: #0F2859; }
      footer span a:hover {
        color: #454174;
        text-decoration: none; }

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 12px rgba(51, 204, 255, 0.1); }
  50% {
    -webkit-box-shadow: 0 0 12px rgba(51, 204, 255, 0.8); }
  100% {
    -webkit-box-shadow: 0 0 12px rgba(51, 204, 255, 0.1); } }
