body {
  background-color: #fff;
  font-size: 16px;
  line-height: 1.6; }

nav {
  font-family: 'Source Sans Pro', sans-serif;
  border-top: 10px solid blue; }
  nav li a {
    color: #111; }
  nav .active {
    background-color: #fff; }

.home-box {
  height: 100%; }
  .home-box .title {
    width: 100%;
    margin: 5em auto 1em auto;
    padding: 1em auto; }
    .home-box .title h1 {
      font-family: 'Open Sans', sans-serif;
      font-weight: 100;
      text-transform: uppercase;
      font-size: 140px; }
    .home-box .title h3 {
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
      text-transform: lowercase;
      font-size: 32px;
      margin-bottom: 1.5em;
      margin-left: 0.3em; }
